body {
  background-color: #eee;
  padding: 30px;
}

nav .nav-item {
  padding-right: 15px;
}

nav .nav-item:hover {
  text-decoration: none;
}

.container {
  width: 1080px;  /* Set the width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

@media (max-width: 768px) { 
  .container {
    width: 90%; /* Adjust width for smaller screens */
  }
}